body{
 background:#F4F4F4;
}


.navbar{
 background:#6A5ACD;
}
.nav-link , .navbar-brand{
 color: #E1F6F8;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #F4F4F4;
 color: #fff;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#6A5ACD !important;
}
.navbar-toggler-icon {
  background-image: url('../images/menu.svg');
}

/*header style*/
.header{
 background-image: url('../images/uborka.png');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
}
.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}
.description{
 position: absolute;
 top: 30%;
 margin: auto;
 padding: 3em;
}
.description h1{
 color:#0000FF ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #0000FF;
 background:#6A5ACD;
 color:#fff;
}

/*Контакты*/
.contact{
 background-image: url('../images/images8.jpeg');
 background-attachment: fixed;
 background-size: cover;
 background-position: center;

 margin: 4em 0;
 padding: 1em;
 position: relative; 
}  
.contact h1{
 color:#0000FF;
 margin: 1em; 
}
.contact .card-title{
 color:#0000FF;
}
.contact .card-body{
 padding: 1em;
}
.contact .phone-btn{
  background-image: url('../images/phone.svg');
  padding: 0.75em;
}
.contact .mail-btn{
  background-image: url('../images/icons8.png');
  padding: 1.3em;
}
.contact .list-btn{
  background-image: url('../images/list.svg');
  padding: 0.75em;
}


.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#6A5ACD;
 margin: 1em;
}
.about img{
 height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
 display: block;
 color: #888;
 position: absolute;
 left: 115px;
}
.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}
/*forma*/
.form{
 margin: 4em 0;
 padding: 1em;
 position: relative; 
}
..form h1{
 color:#F97300 ;
}
.form p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.form button{
 background:#6A5ACD;
 color:#fff;
}
